.grid-container{
    display: flex;
    justify-content: center;
    flex-flow:row wrap;
   
}

.image-container{
    width: 33% ;
    height: auto ;   
}

.image{
    width: 100px;
    height: 100px;
}