.grid-container{
    display: flex;
    justify-content: center;
    flex-flow:row wrap;
   
}

.image-container{
    width: 33% ;
    height: auto ; 
    display: flex;
    flex-direction: column;
    
}

.image{
    width: 100px;
    height: 100px;
    
}

.image-stats{
    display: flex;
    flex-direction: row;
}

