.grid-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   
}

.image-container{
    padding: 50px;
    height: auto ; 
    display: flex;
    flex-direction: column;
    
}

.likes-container{
    padding-right: 30px;
    
}

.image-stats{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
}

.comments-btn{
    padding-top: 1px;
}
