.header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}
.home-btn{
    size: 20px;
}

.search-div{
    display: flex;
    justify-content: end;
    align-items: center;
}

