.header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
}
.home-btn{
    size: 20px;
}

.logo-div{
    width: 33%;
    padding-left: 5px;
}
.search-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    
}

.search-bar{
    border:none;
    border-bottom: 2px solid black;
    outline: none;
}

.navigation{
    width: 33%;
    display:flex;
    justify-content: flex-end;
    
}

